{% extends 'admin/layout/base.html.twig' %}

{% block title %} Dashboard :: Edit Category Details {% endblock %}

{% block body %}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <h4 class="m-0 text-dark">Edit Category Details</h4>
                    <small class="text-secondary pb-1">
                        This Category has ({{itemsCount}}) items associated with it.
                    </small>
                </div>
                <div class="col-4">
                    <div class="breadcrumb float-right">
                        <a href="{{path('app_admin_doc_categories_index')}}" class="text-secondary">
                            Close <span class="fa fa-window-close"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid area-section">

            <div class="row">
                <div class="col-lg-6">
                    <form action="{{path('app_admin_doc_category_store', {id:category.id})}}" method="post">

                        <div class="mb-3">
                            <label for="V9xO3aD7v" class="form-label">Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="V9xO3aD7v" placeholder="Type name"
                                value="{{category.name}}" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="2hV9xO3aD7v" class="form-label">Description <span
                                    class="text-danger">*</span></label>
                            <textarea type="text" class="form-control" id="2hV9xO3aD7v" placeholder="Type Description"
                                rows="7" name="description">{{category.description}}</textarea>
                        </div>


                        <div class="my-3">
                            <button class="btn btn-success">Save Changes<span
                                    class="fa fa-check-circle fa-sm pl-1"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}