{% extends 'layout/base.html.twig' %}

{% set _itemDefined = item is defined and item %}

{% block title %} {{ appName() }} :: {{ category.name }} {{ _itemDefined ? ' - ' ~ item.slug : '' }} {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    {% include 'component/custom_type_message_top_fixed.html.twig' %}

    {% set _uri = app.request.uri %}

    <div class="container-fluid bg-warning shadow-sm">
        <div class="container pt-3">
            <div class="row py-2 justify-content-center text-center">
                <div class="col-lg-6">
                    <div class="d-block mx-auto">
                        {% include 'doc/partial/search_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="ps-2">
                        <small>
                            Doc <span class="bi bi-chevron-double-right text-secondary"></span>
                            {{ category.name }} <span class="bi bi-chevron-double-right text-secondary"></span>
                            <span class="text-secondary">{{ _itemDefined ? item.slug : 'n/a' }}</span>
                        </small>

                        <span class="bi bi-list float-end ms-3 d-lg-none pointer" style="background: #ffc107;
                                        color: #454545;
                                        padding: 1px 8px;
                                        border-radius: 4px;"
                              data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                              aria-controls="offcanvasRight"></span>

                        {% include 'doc/partial/offcanvas_menu_list.html.twig' %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row pb-5">

            <div class="col-lg-3">
                <div class="bg-white ps-0 ps-lg-2 overflow-auto px-3 pb-4 sticky-top shadow-sm md-d-none"
                     style="height: 71vh;">
                    <br>
                    {% include 'doc/partial/menu_list.html.twig' %}
                </div>
            </div>

            <div class="col-lg-6 mb-3">

                <div class="p-2 bg-white shadow-sm">

                    <div class="px-lg-3">

                        {% if _itemDefined %}
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <small class="bi bi-clock small text-secondary text-warning"></small>
                                        <span class="small text-secondary">{{ item.readTime }}</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="float-end">
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <small class="float-end">
                                                <a href="{{ path('app_admin_doc_item_edit', {id:item.id}) }}"
                                                   class="text-decoration-none" target="_parent">
                                                    Edit this Page <span class="bi bi-pencil-square"></span>
                                                </a>
                                            </small>
                                        {% else %}
                                            <small>
                                                <a href="{{ path('app_auth') }}" class="text-decoration-none"
                                                   target="_parent">
                                                    Login to Edit <span class="bi bi-pencil-square ps-1"></span>
                                                </a>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <h4>{{ slug }}</h4>

                        <p class="text-secondary mb-1">{{ category.description }}</p>

                    </div>

                    {% if item is defined and item %}
                        <div class="p-2 px-lg-3 pb-3">

                            {{ item.content|raw }}

                            <div class="float-end">
                                <small class="text-secondary" title="{{ item.updatedAt|date }}">
                                    Last updated: {{ timeAgo(item.updatedAt) }}
                                </small>
                            </div>

                            <br>
                        </div>
                    {% endif %}
                </div>

                <div class="row text-center bg-white py-4 mx-0 mt-3 shadow-sm">
                    <div class="col-12">
                        <h5 class="mb-3">Was this article helpful?</h5>
                        <div class="row">
                            <div class="col-6 text-end">
                                <form action="{{ path('app_docu_item_rate_store') }}" method="post">
                                    <button class="btn btn-secondary btnLike px-3" type="submit"
                                            data-id="{{ _itemDefined ? item.id : 0 }}">
                                        <span class="bi bi-hand-thumbs-up-fill"></span> <span class="ps-2">
                                        ({{ _itemDefined ? item.likes : 0 }})
                                    </span>
                                    </button>
                                    <input type="hidden" name="id" value="{{ _itemDefined ? item.id : 0 }}">
                                    <input type="hidden" name="like" value="on">
                                    <input type="hidden" name="uri" value="{{ _uri }}">
                                </form>
                            </div>
                            <div class="col-6 text-start">
                                <form action="{{ path('app_docu_item_rate_store') }}" method="post">
                                    <button class="btn btn-secondary btnDisLike px-3"
                                            type="submit" data-id="{{ _itemDefined ? item.id : 0 }}">
                                        <span class="bi bi-hand-thumbs-down-fill"></span> <span class="ps-2">
                                        ({{ _itemDefined ? item.disLikes : 0 }})
                                    </span>
                                    </button>
                                    <input type="hidden" name="id" value="{{ _itemDefined ? item.id : 0 }}">
                                    <input type="hidden" name="disLike" value="on">
                                    <input type="hidden" name="uri" value="{{ _uri }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="sticky-top">
                    <div class="py-4 bg-white px-3 shadow-sm">
                        {% for item in category.items %}
                            {% set _currentTab = app.request.getSchemeAndHttpHost() ~ path('app_doc_item_name_index',
                                {slug:slug(item.slug)}) %}
                            <div class="p-1">
                                <a href="{{ path('app_doc_item_name_index', {slug:slug(item.slug)}) }}"
                                   class="text-decoration-none fs-14 {{ _currentTab == _uri ? 'text-dark' : 'text-secondary' }}">
                                    <span class="bi bi-dash-lg pe-1"></span> {{ item.slug }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="my-3 bg-white shadow-sm p-3">
                        <form action="{{ path('app_doc_export_item_as_pdf') }}" method="post">
                        <span class="fs-14 cursor-help text-secondary" onclick="this.closest('form').submit();"
                              title="This feature is not implemented yet!">
                            <span class="bi bi-download pe-1"></span> Export as PDF
                        </span>
                        </form>
                    </div>
                    <div class="my-3 bg-white shadow-sm p-3">
                        <b class="text-secondary">Help & Support</b>
                        <p class="text-secondary small">
                            use the
                            <a href="{{ path('app_contact_us_index') }}" class="text-decoration-none">
                                Contact Form</a> or send us an E-mail to <a href="mailto:{{ supportEmail() }}"
                                                                            class="text-decoration-none">
                                {{ supportEmail() }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layout/footer.html.twig' %}

{% endblock %}